In [3]:
import pickle
import pandas as pd

In [2]:
with open('/content/salarymodel','rb')as f:
  reg=pickle.load(f)

In [5]:
df = pd.read_csv('/content/project3-clientfile .csv')
df

   experience  test_score  interview_score
0           2           8                7
1           3           8                8
2           7           9                8
3           5           7                9
4           1           9                9
5           0           6                7

In [6]:
predictdf=reg.predict(df)
predictdf

array([53565.50218341, 58583.69723435, 71681.22270742, 64569.1411936 ,
       57008.73362445, 44248.18049491])

In [7]:
df['salary']=predictdf
df

   experience  test_score  interview_score        salary
0           2           8                7  53565.502183
1           3           8                8  58583.697234
2           7           9                8  71681.222707
3           5           7                9  64569.141194
4           1           9                9  57008.733624
5           0           6                7  44248.180495

In [9]:
#convert the final df to csv file
df.to_csv('clientoutputfile3.csv',index=False)